@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

@layer base {
  .spinner {
    transform-origin: center;
    animation: spinner_kf 0.75s infinite linear;
  }
  @keyframes spinner_kf {
    100% {
      transform: rotate(360deg);
    }
  }
  .wiggle-effect {
    animation: wiggle 2.5s linear infinite;
  }

  /* Keyframes */
  @keyframes wiggle {
    0%,
    7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%,
    100% {
      transform: rotateZ(0);
    }
  }
}
